@{
    ViewBag.Title = "About";
}
<div class="main-image">
    <div class="main-image-content">
        about
        <p>we create delicious memories</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="main-page-header">
            c r e a t o r s
        </h2>
        <p class="main-page-preheader">
            people who cares
        </p>
        <p>
            Restorators, developers and designers was working on this beautiful service and put some heart to it for your comfort and satisfaction!
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="main-page-header">
            g o a l s
        </h2>
        <p class="main-page-preheader">
            what we want to achieve
        </p>
        <p>
            Our guests come for all occasions – a drink after work, a quick bite before a movie, a business dinner and much more. Our goal is to satisfy the needs of every visitor every day improving the quality of our services.
        </p>
    </div>

</div>