@{
    ViewBag.Title = "About";
}
<div class="main-image">
    <div class="main-image-content">
        your response
    </div>
</div>
<div class="container">
    <h3>
        Thanks for your order! We will send it to you as soon as possible!
    </h3>
</div>