@{
    ViewBag.Title = "About";
}
<div class="main-image">
    <div class="main-image-content">
        reservation
        <p>
            with care
        </p>
    </div>
</div>
<div class="container">
    <h3>
        Thanks for your reservation. We are waiting for you at the time!
    </h3>
</div>